<div class="brukerInfo">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["userTitle"]</h3>
    <table>
        <tr><td>Avdeling: </td><td>@ViewData["department"]</td></tr>
        <tr><td>Mail, denne deler du ut: </td><td>@ViewData["mail"]</td></tr>
        <tr><td>Brukernavn: </td><td>@ViewData["sAMAccountName"]</td></tr>
        <tr><td>Brukernavn for It'slearning og Office 365: </td><td>@ViewData["userPrincipalName"]</td></tr>
    </table>
    <em>*Venligst informer IT hvis du ønsker endringer eller noe ikke er korekt</em>
</div>

<form asp-controller="Home" asp-action="BrukerInfo" method="post">
   <fieldset class="form-horizontal">
      <div class="control-group">
         <label class="control-label" for="username">Username</label>
         <div class="controls">
            <input class="text-box single-line" data-val="true" data-val-required="Username is required." id="username" name="username" type="text" required/>
            <span class="field-validation-valid help-inline" data-valmsg-for="username" data-valmsg-replace="true"></span>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="password">Password</label>
         <div class="controls">
            <input class="text-box single-line" data-val="true" data-val-required="Password is required." id="password" name="password" type="password" required/>
            <span class="field-validation-valid help-inline" data-valmsg-for="password" data-valmsg-replace="true"></span>
         </div>
      </div>

      <div class="form-actions no-color">
         <input type="submit" value="Get user info" class="btn" />
      </div>
   </fieldset>
</form>