@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<div class="grid">
    @for (int i = 0; i < Int32.Parse(ViewBag.length.ToString()); i++) {
        <div class="gridInfo">
          <div style="background-image: url('@ViewBag.pickture[i]');" class="info image"></div>
          <div class="info">
              <h3 class="c">@ViewBag.fullName[i]</h3>
              <h4 class="c">@ViewBag.JobTitle[i]</h4>
             <p class="c">@ViewBag.email[i]</p>
             <p class="c">@ViewBag.workPhone[i]</p>
         </div>
     </div>
    }
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
